*{
    padding: 0px;
    margin: 0px;
color: white;
}
#logo{
    color:#f08804;
    font-size: 25px;

}
#navbar{
    height: 60px;
    background-color: #0f1111;
}
button{
    background-color: #f08804;
}
a{
    margin: 60px;
}

.contentBox{
    border: 2px solid black;
    width: 100px;
    height: 100px;
    display: inline-block;
}
#content{
    height: 1000px;

}
footer{
    text-align: center;
    background-color: #0f1111;
}
